@import "./global.scss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Agrandir', sans-serif;
    font-weight: 400;
}

p,
a {
    font-family: 'Mona Sans', sans-serif !important;
    font-weight: 400;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: $bg-white;
}


/* custom scroll bar */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: $grey-50;
}

::-webkit-scrollbar-thumb {
    background: rgba($primary, 0.8);
    border-radius: 8px;
    transition: all 0.4s ease-in;
}

::-webkit-scrollbar-thumb:hover {
    background: $primary;
}

.bg-primary {
    background-color: $primary !important;
    color: #ffffff;
}

a {
    text-decoration: none;
    color: $primary-black;
}

a.custom-button {
    text-decoration: none;
    margin: 0 auto;
    font-size: 18px;
    padding: 12px 22px 8px 22px;
    font-weight: 400;
    color: #ffffff;
    border: solid 2px #ffffff;
    border-radius: 40px;
    transition: all .2s ease-in-out;

    &:hover {
        background: $primary;
        border-color: $primary;
    }
}

.icon-item {
    height: 80px;
    padding: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1 !important;

    img {
        max-width: 100%;
        width: max-content !important;
        max-height: 100%;
    }
}
.image-card {
    border-radius: 12px;
    overflow: hidden;
    position: relative;

    img {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
        transition: .25s ease-in-out;
    }

    figcaption {
        position: absolute;
        top: 0;
        height: 100%;
        width: 100%;
        padding: 2rem;
        display: none;

        p {
            font-weight: 500;
        }

        a.custom-button {
            text-decoration: none;
            margin: 0 auto;
            font-size: 18px;
            padding: 12px 22px 8px 22px;
            font-weight: 400;
            color: #ffffff;
            border: solid 2px #ffffff;
            border-radius: 40px;
            transition: all .2s ease-in-out;
            -webkit-transition: all .2s ease-in-out;

            &:hover {
                background: $primary;
                border-color: $primary;
            }
        }
    }

    &:hover {
        img {
            -webkit-transform: scale(1.2);
            transform: scale(1.2);
            // filter: brightness(0.4);
        }

        figcaption {
            background-color: #141c3a;
            color: white;
            display: block;
        }
    }
}

section {
    h2 {
        font-size: 2rem;
        font-weight: 600;
        margin-bottom: 18px;
    }

    p {
        font-size: 1.25rem;
    }
}

@media screen and (max-width: 425.98px) {
    section {
        h2 {
            font-size: 1.8rem;
            margin-bottom: 12px;
        }

        p {
            font-size: 1rem;
        }
    }
}

.box {
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow: 0 5px 5px 0 rgba(233, 240, 243, 0.5), 0 0 0 1px #E6ECF8;
    color: #141c3a;
    display: block;
    padding: 2rem;
}

@media screen and (max-width: 425.98px) {
    .box {
        padding: 1.5rem;
    }
}


.contact-card {
    padding: 1rem 1.5rem;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 1rem;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    margin-bottom: 12px;

    .icon-wrapper {
        height: 5rem;
        width: 5rem;
        padding: 1rem;
        background-color: #2E7E7E;
        border-radius: 100%;
        color: white;
        font-size: 32px;
        line-height: normal;
    }

    .text-wrapper {
        h4 {
            font-size: 1rem;
            line-height: 1;
            font-weight: 600;
            color: $primary;
        }

        a {
            font-size: 1.25rem;
            line-height: 1;
            font-weight: 400;
            color: $primary-black;

            &:hover {
                color: inherit;
            }
        }
    }
}

@media screen and (max-width: 425.98px) {
    .contact-card {
        padding: 1rem;
        border-radius: 0.8rem;


        .icon-wrapper {
            height: 3rem;
            width: 3rem;
            padding: 0.8rem;
            font-size: 22px;
        }

        .text-wrapper {
            h4 {
                font-size: 1rem;
            }

            a {
                font-size: 1.1rem;
            }
        }
    }
}

.navbar {

    padding-top: 1.5rem;
    padding-bottom: 1rem;

    &-brand {
        a {
            color: $primary;
            font-weight: 800;
            font-size: 1.8rem;

            &:hover {
                color: $primary;
            }
        }
    }

    &-menu {
        display: flex;
        align-items: center;
        gap: 1.5rem;

        a {
            &.custom-button {
                color: $primary;
                border: solid 2px $primary;

                &:hover {
                    color: $grey-50;
                }
            }

            &:hover {
                color: $primary;
            }
        }
    }
}


.section {
    &-hero {
        padding-top: 7rem;
        // padding-bottom: 60px;

        .column {
            text-align: center;

            span.text-primary {
                color: $primary !important;
                font-weight: 700;
                text-transform: uppercase;
            }

            h1 {
                font-size: 2.6rem;
                font-weight: 600;
                line-height: 1.5;
                color: $primary-black;
                text-transform: capitalize;


            }

            p {
                font-size: 1.4rem;
                font-weight: 400;
                line-height: normal;
                color: $primary-black;

                span.text-primary {
                    text-transform: capitalize !important;
                }
            }

            .img-wrapper {
                &.avatar {
                    margin-top: 2rem;

                    img {
                        max-width: 240px;
                    }
                }

                &.banner {
                    margin-top: 40px;

                    img {
                        max-width: 60%;
                    }
                }
            }
        }
    }

    &-about {
        margin-top: -13px;
        padding-top: 7rem;
        padding-bottom: 13rem;
        z-index: -1;

        position: relative;

        &::before {
            content: "";
            position: absolute;
            background-image: url("../../assets/images/ishwor-avatar-5.png");
            background-repeat: no-repeat;
            background-size: contain;
            // z-index: 0;
            height: 100%;
            width: 100%;
            top: 0;
            left: 0;
            opacity: 0.3;
            filter: drop-shadow(1px 2px 2px white);
        }

        .column {
            max-width: 60%;
            margin: 0 auto;

            // h2{
            //     font-size: 2rem;
            //     font-weight: 600;
            //     margin-bottom: 18px;
            // }
            // p{
            //     font-size: 1.25rem;
            // }
        }
    }

    &-skill {
        .column {
            margin-top: -180px;

            &.box {
                padding: 3.5rem 2rem;
            }
        }
    }

    &-work {
        padding-top: 120px;
        padding-bottom: 80px;

        .column {
            a.custom-button.see-more {
                color: $primary;
                border-color: $primary;

                &:hover {
                    color: white;
                }
            }
        }
    }

    &-contact {
        padding-top: 20px;
        margin-bottom: -5rem;
        z-index: 2;
        position: relative;

        h2,
        p {
            margin: 0;
        }

        .box {
            box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.2), 0 0 0 1px $primary !important;
            background-color: $primary-black;
            color: $grey-50;
        }

        .custom-button {
            text-decoration: none;
            margin-right: 2rem;
            font-size: 18px;
            padding: 12px 22px 8px 22px;
            font-weight: 400;
            color: #ffffff;
            border: solid 2px #ffffff;
            border-radius: 40px;
            transition: all .2s ease-in-out;
            -webkit-transition: all .2s ease-in-out;

            &:hover {
                background: $primary;
                border-color: $primary;
            }
        }
    }

    &-mainContact {
        padding-top: 5rem;
        padding-bottom: 7rem;
    }
}

@media screen and (max-width: 425.98px) {
    .section {
        &-hero {
            padding-top: 4rem;

            .column {
                padding: 0 1rem;

                h1 {
                    font-size: 2.5rem;
                }
            }
        }

        &-about {
            margin-top: -0.35rem;
            padding-top: 3rem;

            &::before {
                opacity: 0.2;
                filter: drop-shadow(1px 2px 2px rgb(0, 0, 0));
            }

            .column {
                max-width: 90%;
            }
        }

        &-skill {
            .column {
                &.box {
                    padding: 2rem 1.25rem;
                }
            }
        }

        &-work {
            padding-top: 5rem;
            padding-bottom: 4rem;
        }

        &-contact {
            padding-top: 1rem;
            margin-bottom: -6rem;

            .custom-button {
                margin-right: auto;
                font-size: 16px;
            }
        }

        &-mainContact {
            padding-top: 3.4rem;
            padding-bottom: 4rem;
        }
    }
}



.contact-form__wrapper {

    iframe {
        min-height: 560px;
        height: 100%;
        overflow-y: scroll;

        // &::-webkit-scrollbar {
        //     width: 8px !important;
        // }

        // &::-webkit-scrollbar-track {
        //     background: $grey-50;
        // }

        // &::-webkit-scrollbar-thumb {
        //     background: rgba($primary, 0.8);
        //     border-radius: 8px;
        //     transition: all 0.4s ease-in;
        // }

        // &::-webkit-scrollbar-thumb:hover {
        //     background: $primary;
        // }
    }
}


.main-footer {
    padding-top: 11rem;
    padding-bottom: 6rem;

    h3 {
        font-family: "Mona Sans", sans-serif !important;
        font-size: 1.75rem;
        font-weight: 500;
        line-height: 1.2;
        margin-bottom: 1rem;
        color: $grey-50;
    }

    .social-icons {

        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1.5rem;

        .icon-wrapper {
            display: flex;
            justify-content: center;
            align-items: center;

            border: 1px solid rgba($grey-50, 0.7);
            height: 52px;
            width: 52px;
            border-radius: 100%;
            padding: 10px;
            transition: all .2s ease-in-out;

            i {
                color: white;
                font-size: 26px;
                line-height: 1;
                transition: all .4s ease-in-out;
            }

            &:hover {
                background-color: $grey-50;
                border-color: $grey-50;

                i {
                    color: $primary-black;
                }
            }
        }


    }


}

@media screen and (max-width: 425.98px) {
    .main-footer {
        padding-top: 9rem;
        padding-bottom: 5rem;

        h3 {
            font-size: 1.25rem;
        }
    }
}


.low-footer {
    border-top: 1px solid rgba($grey-50, 0.2);
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;

    div {
        color: $bg-white;
    }

    div,
    a {
        color: $bg-white;
        transition: all .2s ease-in-out;

        &:hover {
            color: $grey-50;
        }
    }
}

@media screen and (max-width: 425.98px) {
    .low-footer {
        padding-top: 1rem;
        padding-bottom: 1rem;

        &>div {
            flex-wrap: wrap;
            justify-content: center !important;
            gap: 0.4rem 1rem;
        }
    }
}



// X-Small devices (portrait phones, less than 576px)
// @media (max-width: 425.98px) {..}

// X-Small devices (portrait phones, less than 576px)
// @media (max-width: 575.98px) {..}

// Small devices (landscape phones, less than 768px)
// @media (max-width: 767.98px) { ... }

// Medium devices (tablets, less than 992px)
// @media (max-width: 991.98px) { ... }

// Large devices (desktops, less than 1200px)
// @media (max-width: 1199.98px) { ... }

// X-Large devices (large desktops, less than 1400px)
// @media (max-width: 1399.98px) { ... }