@font-face {
    font-family: "TT Chocolates";
    font-display: swap;
    font-weight: 400;
    font-style: light;
    src: url("../../assets/fonts/TT Chocolates Regular.woff") format("truetype");
}

@font-face {
    font-family: "TT Chocolates";
    font-display: swap;
    font-weight: 500;
    font-style: normal;
    src: url("../../assets/fonts/TT/Chocolates/Medium.woff") format("truetype");
}

@font-face {
    font-family: "TT Chocolates";
    font-display: swap;
    font-weight: 600;
    font-style: bold;
    src: url("../../assets/fonts/TT Chocolates DemiBold.woff") format("truetype");
}

@font-face {
    font-family: "TT Chocolates";
    font-display: swap;
    font-weight: 700;
    font-style: bold;
    src: url("../../assets/fonts/TT Chocolates Bold.woff") format("truetype");
}